body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover{
    color: lightblue;
}

main{
    display: flex;
    flex-wrap: wrap;
}

section{
    background-color: beige;
    border: 1px solid black;
    flex: 1;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
}

footer{
    text-align: left;
    margin-top: 1px;
}