html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover{
    color: lightsteelblue;
}

main{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

section{
    background-color: beige;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    padding: 80px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}

footer{
    text-align: left;
    padding: 5px;
    background-color: black;
    color: white;
}